src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          //li(style="list-style: none;")
            a.d-block.my-20(href="strategies.html", style="font-size: 20px;") Strategies
          li(style="list-style: none;")
            a.d-block.my-20(href="alerts.html", style="font-size: 20px;") Alerts
          li(style="list-style: none;")
            a.d-block.my-20(href="accounts.html", style="font-size: 20px;") Accounts
          li(style="list-style: none;")
            a.d-block.my-20(href="exchange.html", style="font-size: 20px;") Exchange
          li(style="list-style: none;")
            a.d-block.my-20(href="settings.html", style="font-size: 20px;") Settings

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=3">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="pl-0">
            <!--li(style="list-style: none;")a.d-block.my-20(href="strategies.html", style="font-size: 20px;") Strategies
            -->
            <li style="list-style: none;"><a class="d-block my-20" href="alerts.html" style="font-size: 20px;">Alerts</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="accounts.html" style="font-size: 20px;">Accounts</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="exchange.html" style="font-size: 20px;">Exchange</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings.html" style="font-size: 20px;">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js?version=3"></script>
  </body>
</html>
